<div class="cabecera bg">
  <div class="volver">
    <a href="">
      <img src="assets/icons/flecha.svg" alt="" class="flecha"> INICIO</a>
  </div>
  <h1>{{ nombreProvincia | uppercase }}</h1>
</div>

<div class="cuerpo">
  <div class="prevision">
    <div class="fecha">
      <div class="enlaces">
        <a [class.activo]="mostrarHoy" (click)="mostrarHoyFunc()">HOY</a>
        <a [class.activo]="mostrarManana" (click)="mostrarMananaFunc()">MAÑANA</a>
      </div>
    </div>

    <ng-container *ngIf="mostrarHoy">
      <div class="hoy">
        <span class="fechaShort">{{ fechaHoy }}</span>
        <h2>El tiempo hoy</h2>
        <p>{{ today }}</p>
      </div>
    </ng-container>

    <ng-container *ngIf="mostrarManana">
      <div class="tomorrow">
        <span class="fechaShort">{{ fechaHoy }}</span>
        <h2>Predicción para mañana {{ fechaManana }}</h2>
        <p>{{ tomorrow }}</p>
      </div>
    </ng-container>
  </div>

  <div class="ciudades">
    <div *ngFor="let ciudad of ciudades" class="ciudad">
      <div class="contenidoCiudad">
        <div class="nombreCiudad">
          <h3>{{ ciudad.name | uppercase }}</h3>
          <div class="iconoTiempo">
            <img *ngIf="ciudad.temperatures.min < 0" src="assets/icons/ice.png" alt="Ice">
            <img *ngIf="ciudad.temperatures.min >= 0 && ciudad.temperatures.min <= 10" src="assets/icons/cloud.png"
              alt="Cloud">
            <img *ngIf="ciudad.temperatures.min > 10" src="assets/icons/sun.png" alt="Sun">
          </div>
        </div>
        <div class="cielo">
          <span>{{ ciudad.stateSky.description }}</span>
        </div>
        <div class="filete">
          <hr>
        </div>
        <div class="temperaturas">
          <div class="temperaturaMaxima">

            <p>MAX: {{ ciudad.temperatures.max }}°C</p>
            <img src="assets/icons/thermometer-outline.svg" alt="">
          </div>
          <div class="temperaturaMinima">

            <p>MIN {{ ciudad.temperatures.min }}°C</p>
            <img src="assets/icons/thermometer-outline.svg" alt="">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
